#footer {
    width: 100vw;
    position: fixed;
    background-color: #F8F0DF;
    padding: 20px;
    text-align: center;
    bottom: 0;
    font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
    margin: -10px;
}

span {
    margin: auto 0;
}